@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: block;
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 8vh;
    padding: 15px 40px 15px 30px;
    width: 100%;
}

.logo-container{
    display: flex;
    align-items: center;
}

.fa-solid {
    display: flex;
    font-size: 35px;
    color: white;
}

.logo {
    margin-left: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: white;
}

nav ul {
    display: flex;
    gap: 5rem;
    list-style: none;
    margin-right: 50px;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul a {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 22.5px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    font-size: 2.3rem;
    background-color: none;
}

.mobile-navigation {
    display: none;
}

.stuff {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    padding-right: 20vw;
}

.hero-img {
    width: 100%;
    height: 92vh;
    background-image: url("try.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    padding-right: 8vw;
    padding-left: 40vw;
}

.hero-button-1, .hero-button-2  {
    padding: 12px 30px;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
    margin-top: 10px; 
    margin-right: 15px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.personal-training-1, .personal-training-2 {
    color: white;
    margin: 0;
    font-size: 8rem;
    font-family: "Bebas Neue", sans-serif;
}

.personal-training-2 {
    margin-top: -25px;
}

.hero-description {
    font-size: 3rem;
    font-family: "Bebas Neue", sans-serif;
    color: black; 
    max-width: 550px; 
}

@media (max-width: 900px) {   
    nav {
        padding: 15px 40px 15px 30px;
    }

    nav ul {
        margin-right: 20px;
    }
    
    .nav-link {
        display: none;
    }

    .mobile-menu {
        display: flex;
        color: white;
    }

    .mobile-nav-toggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    nav {
        padding-right: 20px;
    }

    .fa-solid {
        font-size: 25px;
    }

    .logo {
        font-size: 20px;
        margin-right: -80px;
    }

    .nav-link {
        display: none;
    }


    .mobile-navigation {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        inset: 0 0 0 0;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
        background-color: white;
        text-align: center;
    }

    .mobile-navigation ul a {
        color: #000;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Poppins','sans-serif';
    }

    .mobile-navigation ul {
        display: flex;
        flex-direction: column;
        font-size: 2.3rem;
        gap: 4rem;
        list-style: none;
    }

    .mobile-navigation span {
        cursor: pointer;
        font-size: 3.3rem;
        position: absolute;
        right: 4rem;
        top: 2rem; 
    }
    
   .mobile-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .hero-img {
        padding-right: 6vw;
    }

    .hero-description {
        max-width: 400px;
    }

    .personal-training-1, .personal-training-2 {
        font-size: 6rem;
    }

    .hero-description {
        font-size: 2.5rem;
    }

    .hero-button-1, .hero-button-2  {
        padding: 8px 15px;
        font-size: 1.5rem;
    }

}

@media (max-width: 500px) {
    .personal-training {
        font-size: 5rem;
    }
    
    .hero-img {
        padding-right: 0;
        background-position: 42.5% center;
    }

    .hero-description {
        max-width: 300px;
    } 
}