@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: block;
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 55px;
    left: 0;
    padding: 15px 40px 15px 50px;
    top: 0;
    width: 100%;
}

.logo-container{
    display: flex;
    align-items: center;
}

.fa-solid {
    display: flex;
    font-size: 35px;
    color: white;
}

.logo {
    margin-left: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: white;
}

nav ul {
    display: flex;
    gap: 5rem;
    list-style: none;
    margin-right: 50px;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul a {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 22.5px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    font-size: 2.3rem;
    background-color: none;
}

.mobile-nav-toggle {
    background-color: none;
}

@media (max-width: 900px) {   
    nav {
        padding: 15px 40px 15px 50px;
    }

    nav ul {
        margin-right: 20px;
    }
    
    .nav-link {
        display: none;
    }

    .mobile-menu {
        display: flex;
        color: white;
    }

    .mobile-nav-toggle {
        background-color: transparent; /* Use transparent instead of none */
        border: none; /* Ensure there's no border */
        cursor: pointer; /* Add cursor pointer for better UX */
    }
}

@media (max-width: 900px) {
    nav {
        padding-right: 20px;
    }

    .fa-solid {
        font-size: 25px;
    }

    .logo {
        font-size: 20px;
        margin-right: -80px;
    }
}